@import "./fonts";
@import "./mixin";

$mainColor: #0B2638;
$bgColor: #EDEDED;
$yellow: #FCEE21;
$orange: #EAB111;
$grey: #CCCCCC;
$lightGrey: #D3D3D3; 
$warningRed: #DB1414;


main{
    height: 80vh;
    width: 100%;
    background-color: $bgColor;
    myMap{
        width: 1950;
        height: 750;
    }
}

