@import "./fonts";
@import "./mixin";

$mainColor: #0B2638;
$bgColor: #EDEDED;
$yellow: #FCEE21;
$orange: #EAB111;
$grey: #CCCCCC;
$lightGrey: #D3D3D3; 
$warningRed: #DB1414;

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

::-webkit-scrollbar{
    display: none;
}

header{
    font-family: 'SourceLight';
    background-color: $mainColor;
    height: 15vh;
    color: $yellow;
}

nav{
    height: 15vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2{
        font-size: 2em;
    }
    span{
        display: flex;
        align-items: center;
    }
    img{
        height: 7vh;
        margin-right: 3vh;
    }
    button{
        border-radius: 10rem;
        height: 5vh;
        width: 15vh;
        font-size: 3vh;
        float: right;
        margin: 0 3vh 0 0;
    }
}

.signup-btn{
    @include transparentButton();
    &:hover{
        @include yellowButton();
    }
}

.signin-btn{
    @include yellowButton();
    &:hover{
        @include transparentButton();
    }
}

.mobile-signup, .mobile-signin{
    display: none;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

main{
    height: 80vh;
    width: 100%;
    background-color: $bgColor;
    map{
        width: 1950;
        height: 750;
    }
}

.slideshow{
    position: relative;
    width: 100%;
    height: 80vh;
    
}

.slide{ 
    position: relative;
    img{
        
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}

.text{
    position: absolute;
    left: 10%;
    top: 15vh;
    height: 40vh;
    width: 70vh;
    padding: 3vh;
    z-index: 0;
    color: $grey;
    font-family: 'SourceRegular';
    font-size: 3vh;
    background: rgba(0,0,0,0.6);
    box-shadow: 1px -1px 22px 3px rgba(0,0,0,0.82);
}


footer{
    background-color: $mainColor;
    height: 5vh;
}

#sidebar{
    position: fixed;
    width: 40vh;
    height: 100vh;
    background-color: $mainColor;
    transform: translateX(-45vh);
    transition: transform 0.5s;
    box-shadow: 1px -1px 22px 3px rgba(0,0,0,0.82);
    z-index: 1;

    ul{
        padding-top: 15vh;
        padding-left: 7vh;
        list-style: none;
    }
    ul li a{
        position: relative;
        display: block;
        display: flex;
        font-family: SourceLight;
        font-size: 3vh;
        text-decoration: none;
        color: $grey;
        text-align: center;
        padding-bottom: 3vh;
        transition: 0.2s;
        transition-timing-function: ease-out;
        &:hover{
            font-size: 3.4vh;
        }
    }
    img{
        height: 4vh;
        padding-right: 2vh;
    }
}

.logout{
    margin-top: 30vh;
}

.closebtn{
    position: absolute;
    text-decoration: none;
    color: $grey;
    top: 3vh;
    right: 5vh;
    font-size: 5vh;
}

.popup-screen{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    transition: transform 0.5s;
    z-index: 1;
}

.popup-form{
        position: relative;
        width: 30%;
        height: 65vh;
        background-color: $bgColor;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        input:focus{
            outline: none;
            box-shadow: inset 0px 0px 13px -6px $mainColor;
        }
        img{
            height: 9vh;
            margin: 6vh auto 0;
            display: block;
        }
        button{
            position: relative;
            border-radius: 10rem;
            height: 5vh;
            min-width: 15vh;
            font-size: 3vh;
            margin: 1rem auto 0;
            display: block;
            border: solid $mainColor;
            padding: 0 1rem;
        }
        
        button:hover{
            @include yellowButton();
        }
}

input{
    display: block;
    margin: 3vh auto;
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;
    border: solid $mainColor;
}

.invalid-response{
    margin: 1rem auto;
    color: $warningRed;
    font-family: 'SourceRegular';
    width: 80%;
    text-align: center;
}

#remember-container{
    font-family: 'SourceRegular';
    color: $mainColor;
    width: 40%;
    display: block;
    margin: 0 auto;
}

#remember{
    display: inline;
    margin: 0;
}

.beehiveAdd{
    margin: 5rem 0 5rem 0;
}

button:focus{
    outline: none;
}

#collection-wrapper{
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: auto;
}

.beehive{
    margin: 1.5rem 0 1.5rem 3rem;
    width: 15rem;
    height: 15rem;
    background-color: $grey;
    box-shadow: 5px 5px 22px 1px rgba(0,0,0,0.35);
    border-radius: 1rem;
    p{
        width: 80%;
        text-align: center;
        margin: 0.5rem auto;
        color: $mainColor;
        font-family: 'SourceLight';
        font-size: 1.5rem;
    }

    transition: 0.1s;
    transition-timing-function: ease-out;

    &:hover{
        width: 15.5rem;
        height: 15.5rem;
        margin: 1.5rem 1rem 0 1.5rem;
    }
}

.new-hive{
    img{
        display: block;
        margin: 2rem auto;
        height: 7rem;
    }
    &:hover{
        cursor: pointer;
    }
}


@media screen and (max-width:415px) {
    header{
        h2{
            font-size: 1.5rem;
        }
    }

    .signup-btn, .signin-btn{
        display: none;
    }

    .mobile-signup, .mobile-signin{
        display: block;
    }

    .mobile-signup{
        margin-bottom: 5vh;
    }

    .logout{
        margin-top: 25vh;
    }

    .slick-dots{
        visibility: hidden;
    }
  }

